
* {
	margin: 0px;
	padding: 0px;
}

body{
	padding: 5px;
	width: 100%;
	background-color: #333388;
}

*, body{
	font-family: verdana;
}

#header h1{
	color: #f8f8f8;
	font-size: 1.2em;
	text-align: center;
}

#page-width{
	width: 90%;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#main-content{
	margin: 5px 0px 10px 0px;
	width: 100%;
	background-color: #f8f8f8;
	box-shadow: 0 0 8px rgba(200, 200, 200, 0.8);
	border-radius: 5px;
}

#footer{
	color: #c6c6c6;
	font-size: 0.9em;
	text-align: center;
}

#footer a{
	color: #c6c6c6;
}

#control-panel{
	float: left;
}

#control-panel button{
	padding: 4px;
	width: 100%;
	font-weight:bold;
}

#messages-panel{
	float: right;
}
#messages-panel span{
	font-family: monospace;
	font: monospace;
	font-size: .9em;
}

#control-panel, #messages-panel{
	margin: 0px;
	padding: 5px;
	border: 1px solid #888;
	border-radius: 3px;
}

#board-container{
	margin: 10px;
	padding: 10px;
	clear: top;
	min-width: 700px;
}

#board-radar{
	border: 2px solid #aa5555;
	background-color: #cc7777;
	box-shadow: 0 0 8px rgba(200, 100, 100, 0.8);
}

#board-ocean{
	margin-top: 10px;
	border: 2px solid #5555aa;
	background-color: #7777cc;
	box-shadow: 0 0 8px rgba(100, 100, 200, 0.8);
}

#board-radar, #board-ocean{
	padding: 5px;
	border-radius: 5px;
	margin-left:auto;
	margin-right:auto;
	width: 407px;	
}

span.layout-label{
	float:right;
	color: #555;
	font-weight: bold;
	font-size: .9em;
	margin-top: -20px;
}

.coord{
	width:   30px;
	height:  30px;
	display: inline-block;
	border:  1px solid black;
	margin:  0px;
	padding: 0px;
	background-color: #ebebeb;
}
.col-headers .coord{
	height: 25px;
	text-align: center;
	background-color: #c8c8c8;
}
.row-label.coord{
	width: 25px;
	text-align: center;
	background-color: #c8c8c8;
}


.validating-banger{
	background-color: red	!important;
}


#control-panel, #messages-panel{
	width: 100px;
}
#control-panel span, #fleet-port span{
	width: 100%;
	text-align: right;
	display: inline-block;
	font-weight: bold;
	color: #666;
	margin-bottom: 15px;
}

#fleet-port{
	margin: 10px;
	padding: 5px;
	float: left;
	border: 1px solid #888;
	border-radius: 3px;
	clear: left;
}
#two-banger{
	height: 55px;
}
#three-banger-1, #three-banger-2{
	height: 85px;
}
#four-banger{
	height: 120px;
}
#five-banger{
	height: 150px;
}
.banger{
	border: 2px solid #5555aa;
	background-color: #777777;
	box-shadow: 0 0 8px rgba(100, 100, 100, 0.8);
	width: 20px;
	margin: 0px;
}
#fleet-port .banger{
	margin: 0px;
	cursor: move;
}
.banger.ui-draggable-dragging{
	margin: 0px !important;
}
.banger-positioned{
	margin: 0px !important;
}


/* ** Clearfix ** */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}