
<html>
<head>
	<title>Hacklenode</title>
	<link rel="stylesheet" href="/css/hacklenode.css" type="text/css" />
	
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/hacklenode.js"></script>
	
	<script type="text/javascript" src="/js/ext/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/js/ext/jquery-ui-1.9.2.custom.min.js"></script>
	<script type="text/javascript" src="/js/ext/jquery-collision.js"></script>
	<script type="text/javascript" src="/js/ext/jquery-ui-draggable-collision.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
</head>
<body>

	<div id="page-width">
	
		<% include header %>

		<div id="main-content" class="clearfix">
			<% include board %>
		</div>
		
		<% include footer %>
		
	</div>

</body>
</html>
